
<div class="masthead">
  <ul class="language-nav">
    <li><a>CSS</a></li>
    <li><a>HTML</a></li>
    <li><a>JAVASCRIPT</a></li>
    <li><a>RUBY</a></li>
  </ul>
  <img class = "logo" src="assets/AA_Times_Logo.png">
  <ul class="masthead-links">
    <li>
      <a>Tuesday, October 18, 2016</a></li>
    <li class="underline">
      <i class="fa-regular fa-newspaper"></i>
      <a>Today’s Paper</a>
    </li>
    <li class="underline">
      <i class="fa-solid fa-video"></i>
      <a>Video</a></li>
    <li class="turn-grey">
      <a>77°F</a></li>
    <li class="turn-grey">
      <a>AAO <strong>+100%</strong></a>
      </li>
  </ul>
</div>


