<%#World
San Francisco
New York
Bootcamp Prep
Jumpstart
Online
Marketing
Sales
TalentMatch
Alumni
All%>

<ul class="masthead-links section-grey" >
    <li><a>San Francisco</a></li>
    <li><a>New York</a></li>
    <li><a>Bootcamp Prep</a></li>
    <li><a>Jumpstart</a></li>
    <li><a>Online</a></li>
    <li><a>Marketing</a></li>
    <li><a>Sales</a></li>
    <li><a>TalentMatch</a></li>
    <li><a>Alumni</a></li>
    <li><a>All</a></li>
</ul>

<%# <li><a>San Francisco</a></li>
        <li><a>New York</a></li>
        <li><a>Bootcamp Prep</a></li>
        <li><a>Jumpstart</a></li>
        <li><a>Online</a></li>
        <li><a>Marketing</a></li>
        <li><a>Sales</a></li>
        <li><a>TalentMatch</a></li>
        <li><a>Alumni</a></li>  %>